body{
    text-align: center;
    background-image: url("https://st3.depositphotos.com/3556733/12699/i/950/depositphotos_126997786-stock-photo-prediction-by-fortune-teller-on.jpg");
}

h1{
    font-family: 'Bungee Inline', cursive;
}